<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.turboic.cloud.mapper.TencentMapper">
  <resultMap id="BaseResultMap" type="com.turboic.cloud.entity.Tencent">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="address" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="mobile" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, name, address, mobile
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tencent
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tencent
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.turboic.cloud.entity.Tencent" useGeneratedKeys = "true" keyProperty = "id" keyColumn="id">
    insert into tencent (name, address,
      mobile)
    values (#{name,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR},#{mobile,jdbcType=VARCHAR})
  </insert>


 <!-- <insert id="insertResult" parameterType="com.turboic.cloud.entity.Tencent">
    <selectKey resultType="com.turboic.cloud.entity.Tencent" order="AFTER" keyProperty="id,name,address,mobile" keyColumn="id,name,address,mobile">
      select id,name,address,mobile from tencent limit 1;
    </selectKey>
    insert into tencent (id, name, address,
    mobile)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR},
    #{mobile,jdbcType=VARCHAR})
  </insert>-->

  <insert id="insertSelective" parameterType="com.turboic.cloud.entity.Tencent">
    insert into tencent
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="mobile != null">
        mobile,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.turboic.cloud.entity.Tencent">
    update tencent
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.turboic.cloud.entity.Tencent">
    update tencent
    set name = #{name,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <cache eviction="LRU" />
</mapper>